#header {
	position: relative;
	top: 0;
	left: 0;
	flex: 0 0 auto;
	z-index: 99999;
	width: 100%;
	height: 72px;
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
}

#header a {
	text-decoration: none;
}

.header-underlay {
	position: relative;
	height: 100%;
	background-color: #efefef;
}

#header.shrunken-header,
.small-header #header {
	height: 36px;
	margin-top: 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

#main-menubar {
	position: relative;
	top: 0;
	width: 100%;
}

.menubar-content {
	position: relative;
	width: 100%;
	max-width: 1170px;
	height: 72px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: height 500ms;
}

.shrunken-header .menubar-content,
.small-header .menubar-content {
	height: 35px;
}

.menubar-logo {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 65%;
	width: auto;
}

.logo-img-link {
	position: relative;
	height: 100%;
}

.logo-img {
	position: absolute;
	height: 100%;
	width: auto;
}

.logo-img-mobile,
.logo-img-small {
	height: 100%;
	width: auto;
	display: none;
}

.menubar-labels {
	position: relative;
	align-self: flex-end;
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
	margin-bottom: 12px;
	line-height: 18px;
	transition: margin-bottom 500ms;
}

.shrunken-header .menubar-labels,
.small-header .menubar-labels {
	margin-bottom: 0;
}

.menubar-label {
	position: relative;
	text-transform: uppercase;
	color: #1b365d;
	font-size: 16px;
	height: 16px;
	text-align: right;
	cursor: pointer;
}

.menubar-label.search {
	opacity: 1;
	transition: opacity 300ms;
}

.menubar-label.cart {
	position: absolute;
	top: -2px;
	right: 5px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms;
}

.menubar-label.classes a {
	margin-left: 18px;
}

.menubar-label.menu-login-item {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms;
}

.menubar-label.menu-login-item .username {
	display: none;
}

.menubar-label.menu-login-item .avatar {
	margin-right: 5px;
}

.small-header .menubar-label.menu-login-item {
	position: relative;
	opacity: 1;
	pointer-events: auto;
}

.small-header .menubar-label.menu-login-item .login-dropdown {
	position: relative;
	top: -4px;
}

.shrunken-header .menubar-label.search,
.small-header .menubar-label.search {
	opacity: 0;
	pointer-events: none;
}

.shrunken-header .menubar-label.cart {
	position: relative;
	opacity: 1;
	pointer-events: auto;
}

.small-header .menubar-label.cart {
	opacity: 0;
}

.academy .shrunken-header .menubar-label.cart {
	position: relative;
}

.menubar-label + .menubar-label {
	padding-left: 18px;
}

.menubar-label-link {
	text-decoration: none;
	color: #1b365d;
	white-space: nowrap;
}
.menubar-label-link:visited {
	color: #1b365d;
}

.online .menubar-label-link.selected {
	color: #009fad;
}

.news .menubar-label-link.selected {
	color: #82b44a;
}

.academy .menubar-label-link.selected,
.academy .menubar-label-link-outer.selected {
	color: #61ad00;
}

.menubar-dropdown {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 12px;
	opacity: 0;
	transition: opacity 300ms linear;
	pointer-events: none;
	z-index: 1;
	overflow: hidden;
}

.menubar-label.open .menubar-dropdown {
	opacity: 1;
	pointer-events: auto;
	overflow: visible;
}

.menubar-hamburger {
	display: none;
	width: 36px;
	height: 36px;
	margin-right: 6px;
	cursor: pointer;
}

.triangle {
	position: absolute;
	left: calc(50% - 0.75rem);
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #1b365d;
}

.dropdown-content {
	position: absolute;
	top: 12px;
	min-width: 150px;
	left: 0;
	padding: 1rem;
	background-color: #1b365d;
	color: #fff;
	text-transform: none;
	line-height: 16px;
	white-space: nowrap;
	text-align: left;
}

.dropdown-content-label {
	color: #ccc;
	text-transform: uppercase;
	font-size: 85%;
}

.menubar-label.resources .dropdown-content {
	min-width: 250px;
}

.dropdown-content > div {
	padding: 9px 0;
}

.shrunken-header .dropdown-content,
.small-header .dropdown-content {
	top: 10px;
}

.menubar-label:last-of-type .dropdown-content,
.menubar-label.news .dropdown-content,
.menubar-label.resources .dropdown-content,
.menubar-label.admissions .dropdown-content,
.menubar-label.myacademy .dropdown-content {
	right: -1rem;
	left: auto;
}

.menubar-label.news .dropdown-content {
	min-width: 250px;
}

.dropdown-content a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 9px 0;
	font-size: 15px;
	white-space: nowrap;
}

.dropdown-content a:hover {
	color: #c5e86c;
}

.dropdown-content a:visited {
	color: #fff !important;
}

.dropdown-content a:visited:hover {
	color: #c5e86c !important;
}

.online .dropdown-content a:hover {
	color: #7cd5dc;
}

.online .dropdown-content a:visited:hover {
	color: #7cd5dc !important;
}

.menubar-label.search .triangle {
	left: calc(50% - 6px);
}

#search-widget {
	display: flex;
	justify-content: space-between;
}

.search-input-wrapper {
	display: flex;
	width: 222px;
	right: 0;
	transition: opacity 300ms linear;
}

#search-clicker {
	width: 22px;
	height: 22px;
	background-color: #fff;
	cursor: pointer;
}

#search-input {
	width: 200px;
	height: 22px;
	padding: 0 6px;
	border: none;
	background-color: #fff;
	font-size: 14px;
}

#search-input:focus {
	outline: none;
}

#search-icon {
	position: relative;
	top: -3px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.menubar-links-outer {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.shrunken-header .menubar-links-outer,
.small-header .menubar-links-outer {
	align-self: center;
}

.menubar-quicklinks {
	display: none;
	justify-content: space-around;
	text-transform: capitalize;
	padding: 12px 0;
	border-bottom: 2px solid #fff;
}

.quicklink {
	width: 30%;
	text-align: center;
}

.quicklink a {
	color: #fff;
}

.menubar-quicklinks a:hover {
	text-decoration: none;
	color: #c5e86c;
}

.menubar-link {
	color: #1b365d;
}

.menubar-link:hover,
.menubar-link.selected {
	color: #82b44a;
}

/* Login menu line */

.menu-login-wrapper {
	position: relative;
	height: 24px;
	margin-bottom: 12px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	opacity: 1;
	transition: height 500ms, margin-bottom 500ms, opacity 500ms;
}

.shrunken-header .menu-login-wrapper,
.small-header .menu-login-wrapper {
	opacity: 0;
	height: 0;
	margin-bottom: 0;
	pointer-events: none;
}

.menu-login-wrapper.online {
	padding-right: 12px;
}

.menu-login-item {
	position: relative;
	text-transform: uppercase;
	color: #1b365d;
	font-size: 13px;
	line-height: 15px;
}

.menu-login-item + .menu-login-item {
	margin-left: 12px;
}

.signin-label {
	margin-right: 6px;
}

.online .menu-login-item,
.mediawiki .menu-login-item {
	color: #009fad;
}

.login-dropdown {
	font-weight: 500;
	cursor: pointer;
}

.login-dropdown,
.menubar-label,
.menubar-hamburger,
a {
	/* for chrome not turn blue on mobile tap */
	-webkit-tap-highlight-color: transparent;
}

.login-button,
.online .login-dropdown,
.academy .login-dropdown {
	cursor: pointer;
}

.wiki .login-button {
	color: #009fad;
}

.login-button:hover,
.login-dropdown-label:hover .signin-label {
	text-decoration: underline !important;
}

.menu-cart-icon {
	padding-left: 6px;
	width: 26px;
	height: 20px;
	border-left: 1px solid #009fad;
}

.academy .menu-cart-icon {
	border-color: #61ad00;
}

.shrunken-header .menu-cart-icon,
.small-header .menu-cart-icon {
	border-left: none;
}

.menu-cart-items {
	position: absolute;
	width: 15px;
	height: 15px;
	top: -3px;
	right: -10px;
	background-color: #1b365d;
	color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 8px;
	font-weight: 500;
}

.menu-login-item.cart:hover .menu-cart-items,
.menubar-label.cart:hover .menu-cart-items {
	background-color: #fff;
	color: #1b365d;
	border: 1px solid #1b365d;
}

.login-dropdown-label {
	display: flex;
	height: 24px;
	align-items: center;
}

.login-dropdown-label .avatar {
	width: 20px;
	height: 20px;
}

.login-dropdown-label .username {
	margin: 0 6px;
}

.login-dropdown-content {
	position: absolute;
	display: none;
	flex-direction: column;
	background-color: #fff;
	padding: 18px 12px 12px;
	right: 0;
	z-index: 1;
}

.login-dropdown-divider {
	position: absolute;
	top: 6px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #1b365d;
}

.online .login-dropdown-divider {
	background-color: #009fad;
}

.login-dropdown-content .menu-item {
	padding: 3px 0;
	color: #1b365d;
	white-space: nowrap;
}

.online .login-dropdown-content .menu-item:hover,
.mediawiki .login-dropdown-content .menu-item:hover {
	color: #009fad;
}

.login-dropdown-content .menu-item:hover {
	color: #82b44a;
}

.login-dropdown.open .login-dropdown-content {
	display: flex;
}

.menu-classroom-icon {
	text-transform: none;
	font-size: 20px;
	margin-right: 12px;
	margin-top: 4px;
}

@media (max-width: 1250px) {
	.academy .label-hide-at-small {
		display: none;
	}
}

@media (max-width: 1230px) {
	.menubar-content {
		padding: 0 30px;
	}
}

@media (max-width: 1080px) {
	.academy.menubar-logo {
		height: 50%;
	}
}

@media (max-width: 980px) {
	.academy.menubar-logo {
		height: 40%;
	}
}

@media (max-width: 900px) and (min-width: 701px) {
	.online > .menubar-label + .menubar-label {
		padding-left: 10px;
	}
	.menubar-logo {
		height: 50%;
	}
}

@media (max-width: 850px) and (min-width: 701px) {
	.label-hide-at-small {
		display: none;
	}
	.academy > .logo-img-link > .logo-img {
		display: none;
	}
	.academy .logo-img-small {
		display: block;
	}
}

@media (max-width: 800px) and (min-width: 701px) {
	.online > .logo-img-link > .logo-img {
		display: none;
	}
	.logo-img-small {
		display: block;
	}
	.online > .menubar-label + .menubar-label {
		padding-left: 8px;
	}
}

@media (max-width: 750px) and (min-width: 701px) {
	.menubar-logo {
		height: 40%;
	}
}

@media (min-width: 701px) {
	#header {
		transition: height 500ms, margin-top 500ms;
	}
	#header.shrunken-header {
		position: fixed;
	}
	.shrunken-header .menubar-logo,
	.small-header .menubar-logo {
		height: 65%;
	}
}

@media (max-width: 700px) {
	.dropdown-content {
		background-color: rgba(27, 54, 93, 1);
		font-size: 15px;
		top: 0;
		padding: 0 0 0 60px;
	}
	.logo-img {
		display: none;
	}
	.logo-img-mobile {
		display: block;
	}
	.online > .logo-img-link,
	.academy > .logo-img-link {
		height: 30px;
	}
	.menubar-hamburger {
		display: block;
	}
	.menubar-labels {
		display: none;
		position: absolute;
		top: 100%;
		height: 100vh;
		width: 100%;
		left: 0;
		margin-bottom: 0;
		background-color: #1b365d;
		opacity: 0.95;
		flex-direction: column;
		justify-content: flex-start;
		line-height: 13px;
	}
	.menubar-label {
		color: #fff;
		cursor: pointer;
		border-bottom: 2px solid #fff;
		overflow: hidden;
		height: 42px;
		line-height: 18px;
		transition: height 300ms linear;
		white-space: nowrap;
		text-align: left;
	}

	.menubar-label + .menubar-label {
		padding-left: 0;
	}

	.menubar-label.search,
	.menubar-label.cart {
		display: none;
	}
	.menubar-label-link-outer {
		padding: 12px 18px;
	}
	.menubar-label-link {
		color: #fff;
		pointer-events: none;
	}
	.menubar-label-link:visited {
		color: #fff;
	}
	.menubar-quicklinks {
		display: flex;
	}
	.menubar-dropdown {
		top: initial;
		opacity: 1;
		height: auto;
		overflow: visible;
	}
	.menubar-label:last-of-type .dropdown-content,
	.menubar-label.resources .dropdown-content,
	.menubar-label.admissions .dropdown-content,
	.menubar-label.myacademy .dropdown-content {
		left: 0;
		right: initial;
	}
	.triangle {
		display: none;
	}
	.menubar-links-outer {
		align-self: center;
	}
	.menu-login-wrapper {
		height: initial;
		margin-bottom: 0;
	}
	.login-dropdown-label .username {
		display: none;
	}
	.login-dropdown-label .avatar {
		margin-right: 6px;
	}
	.small-header .menubar-label.menu-login-item {
		display: none;
	}
	.small-header .menu-login-wrapper {
		opacity: 1;
		pointer-events: auto;
	}
	.small-header .menu-login-item.cart {
		display: none;
	}
	.small-header .dropdown-content {
		top: 0;
	}
}

@media (max-width: 420px) {
	.menubar-content {
		padding: 0 20px;
	}
}

@media (max-width: 380px) {
	.online > .logo-img-link {
		height: 20px;
	}
	.academy.national > .logo-img-link {
		height: 25px;
	}
}
