@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

.sharedsite-wrapper {
	position: absolute;
	width: 100%;
	left: 0;
	top: -35px;
	height: 35px;
	background-color: #ddd;
	line-height: 37px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

body.development .sharedsite-wrapper {
	background-color: #ddd;
}

.sharedsitebar {
	position: relative;
	width: 100%;
	margin: auto;
	max-width: 1170px;
	line-height: 35px;
	height: 35px;
}

.sharedsite-links {
	display: flex;
}

.sharedsite-links .site {
	padding: 0 12px;
	color: #606060;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sharedsite-links .site.main {
	width: 180px;
	padding: 0 12px;
}

.sharedsite-links .site:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.sharedsite-links .site.selected,
.sharedsite-links .site.selected:hover {
	background-color: #eee;
}

.sharedsite-links .site-icon {
	width: 24px;
	height: 24px;
	margin-right: 6px;
	vertical-align: middle;
}

@media (max-width: 1230px) {
	.sharedsitebar {
		padding: 0 30px 0;
	}
}

@media (min-width: 1171px) {
}

@media (max-width: 850px) {
	.sharedsite-links .site {
		width: 150px;
		padding: 0 8px;
	}
	.sharedsite-links .site.main {
		width: 198px;
		padding: 0 12px 0;
	}
}

@media (max-width: 700px) {
	.site-name {
		display: none;
	}
	.sharedsite-links .site {
		width: 48px;
		padding: 0 4px;
	}
	.sharedsite-links .site-icon {
		margin: -4px 8px 0;
	}
}

@media (max-width: 420px) {
	.sharedsitebar {
		padding: 0 12px 0;
	}
}

@media (max-width: 350px) {
	.sharedsitebar {
		padding: 0;
	}
	.sharedsite-links .site.main {
		width: 180px;
		padding: 0 12px;
	}
	.sharedsite-links .site {
		width: 40px;
	}
	.sharedsite-links .site-icon {
		margin: -4px 4px 0;
	}
}
